*.pth filter=lfs diff=lfs merge=lfs -text
“*.pth” filter=lfs diff=lfs merge=lfs -text
yolomodel/hubtmp.pth filter=lfs diff=lfs merge=lfs -text
yolomodel/robotmp.pth filter=lfs diff=lfs merge=lfs -text
yolomodel/tree.pth filter=lfs diff=lfs merge=lfs -text
